*{
    box-sizing: border-box;
}

body {
    margin: 0%;
}

header {
    width: 100%;
    min-height: 50px;
    background-color: lightgray;
    line-height: 50px;
    border-color: gray;
    word-spacing: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#navBarRight {
    margin-left: 25px;
}

#indexMain {
    margin: 80px 170px;
    text-align: left;
    
}

#indexMainText {
    display: flex;
    
    justify-content: space-between;
}


#skillsDiv{
    font-size: 30px;
}

#hrMain {
    color: black;
    margin-right: 100%;
    width: 300px;
}

#hrSkills {
    width: 1000px;
}

p {
    margin-right: 50px;
    font-size: 30px;
}

h3 {
    font-size: 40px;
}

#myImage {
    width: 350px;
    height: 400px;
}

.skill {
    display: flex;
    margin: 30px 20%;
}

#skillsDiv {
    width: 100%;
    text-align: center;
    margin-right: 200px;
}

.skill-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-align: center;
    
    width:80%; 
}

.skill:nth-child(even) {
    flex-direction: row-reverse;
}

.skill-text:hover {
    background-color: #EEE; 
    border-right: 5px gray solid;
}

.skill:nth-child(even) .skill-text:hover{
    border-left: 5px gray solid;;
    border-right: none;
}



.skill-photo {
    background-size: auto 70%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 180px;
    width: 20%;
}



a {
    margin-right: 45px;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

a:hover {
    color: gray;
}

a.active {
    text-decoration: underline;
    text-decoration-color: gray;
}

a.gmail {
    font-size: 19px;
}

footer {
    width: 100%;
    text-align: center;
}

main {
    margin-top: 15px;
    min-height: 786px;;
    font-size: 50px;
}

#HTMLLogo {
    width: 150px;
}

b {
    font-size: 20px;
}

